body {
    background-color: black;
}
.timer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer :first-child {
    font-size: 30px;
    color: white;
}